<div class="news-list">
    <div class="news">

    </div>
    <div class="news">

    </div>
    <div class="news">

    </div>
    <div class="news">

    </div>
    <div class="news">

    </div>
    <div class="news">

    </div>
</div>