<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=$Title ?></title>
</head>
<body>
    <header>
        <?=$UserLoginForm ?>

    </header>
    <h1><?=$Title?></h1>
    <?=$Body ?>
</body>
</html>